@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap');

@import "./Colors.scss";

body{
  
  margin: 0;
  font-family: Poppins;
  background-color: $azul-400;
  color: $blanco;
  font-size: 20px;
  min-height: 100vh;
  background-image: linear-gradient(
      to right, transparent 0 48.5px, rgba(255, 255, 255, 0.33) 48.5px
  ),
  linear-gradient(
      to bottom, transparent 0 48.5px, rgba(255, 255, 255, 0.33) 48.5px
  );
  background-size: 50px 50px;

    
}

#root {
  margin: 0px;
  padding: 0px;
  border: 0px;
}


