$azul: rgba(13,110,253,255);
$azul-100: rgba(207,226,255,255);
$azul-200: rgba(158,197,254,255);
$azul-300: rgba(110,168,254,255);
$azul-400: rgba(61,139,253,255);
$azul-500: rgba(13,110,253,255);
$azul-600: rgba(10,88,202,255);
$azul-700: rgba(8,66,152,255);
$azul-800: rgba(5,44,101,255);
$azul-900: rgba(3,22,51,255);

$índigo: rgba(102,16,242,255);
$índigo-100: rgba(224,207,252,255);
$índigo-200: rgba(194,159,250,255);
$índigo-300: rgba(163,112,247,255);
$índigo-400: rgba(133,64,245,255);
$índigo-500: rgba(102,16,242,255);
$índigo-600: rgba(82,13,194,255);
$índigo-700: rgba(61,10,145,255);
$índigo-800: rgba(41,6,97,255);
$índigo-900: rgba(20,3,48,255);

$purpura: rgba(111,66,193,255);
$purpura-100: rgba(226,217,243,255);
$purpura-200: rgba(197,179,230,255);
$purpura-300: rgba(169,142,218,255);
$purpura-400: rgba(140,104,205,255);
$purpura-500: rgba(111,66,193,255);
$purpura-600: rgba(89,53,154,255);
$purpura-700: rgba(67,40,116,255);
$purpura-800: rgba(44,26,77,255);
$purpura-900: rgba(22,13,39,255);

$rosa: rgba(214,51,132,255);
$rosa-100: rgba(247,214,230,255);
$rosa-200: rgba(239,173,206,255);
$rosa-300: rgba(230,133,181,255);
$rosa-400: rgba(222,92,157,255);
$rosa-500: rgba(214,51,132,255);
$rosa-600: rgba(171,41,106,255);
$rosa-700: rgba(128,31,79,255);
$rosa-800: rgba(86,20,53,255);
$rosa-900: rgba(43,10,26,255);

$rojo: rgba(220,53,69,255);
$rojo-100: rgba(248,215,218,255);
$rojo-200: rgba(241,174,181,255);
$rojo-300: rgba(234,134,143,255);
$rojo-400: rgba(227,93,106,255);
$rojo-500: rgba(220,53,69,255);
$rojo-600: rgba(176,42,55,255);
$rojo-700: rgba(132,32,41,255);
$rojo-800: rgba(88,21,28,255);
$rojo-900: rgba(44,11,14,255);

$naranja: rgba(253,126,20,255);
$naranja-100: rgba(255,229,208,255);
$naranja-200: rgba(254,203,161,255);
$naranja-300: rgba(254,178,114,255);
$naranja-400: rgba(253,152,67,255);
$naranja-500: rgba(253,126,20,255);
$naranja-600: rgba(202,101,16,255);
$naranja-700: rgba(152,76,12,255);
$naranja-800: rgba(101,50,8,255);
$naranja-900: rgba(51,25,4,255);

$amarillo: rgba(255,193,7,255);
$amarillo-100: rgba(255,243,205,255);
$amarillo-200: rgba(255,230,156,255);
$amarillo-300: rgba(255,218,106,255);
$amarillo-400: rgba(255,205,57,255);
$amarillo-500: rgba(255,193,7,255);
$amarillo-600: rgba(204,154,6,255);
$amarillo-700: rgba(153,116,4,255);
$amarillo-800: rgba(102,77,3,255);
$amarillo-900: rgba(51,39,1,255);

$verde: rgba(25,135,84,255);
$verde-100: rgba(209,231,221,255);
$verde-200: rgba(163,207,187,255);
$verde-300: rgba(117,183,152,255);
$verde-400: rgba(71,159,118,255);
$verde-500: rgba(25,135,84,255);
$verde-700: rgba(15,81,50,255);
$verde-800: rgba(10,54,34,255);
$verde-900: rgba(5,27,17,255);

$verde-azulado: rgba(32,201,151,255);
$azul-verdoso-100: rgba(210,244,234,255);
$azul-verdoso-200: rgba(166,233,213,255);
$azul-verdoso-300: rgba(121,223,193,255);
$azul-verdoso-400: rgba(77,212,172,255);
$verde-azulado-500: rgba(32,201,151,255);
$verde-azulado-600: rgba(26,161,121,255);
$verde-azulado-700: rgba(19,121,91,255);
$azul-verdoso-800: rgba(13,80,60,255);
$azul-verdoso-900: rgba(6,40,30,255);

$cian: rgba(13,202,240,255);
$cian-100: rgba(207,244,252,255);
$cian-200: rgba(158,234,249,255);
$cian-300: rgba(110,223,246,255);
$cian-400: rgba(61,213,243,255);
$cian-500: rgba(13,202,240,255);
$cian-600: rgba(10,162,192,255);
$cian-700: rgba(8,121,144,255);
$cian-800: rgba(5,81,96,255);
$cian-900: rgba(3,40,48,255);

$gris: rgba(173,181,189,255);
$gris-100: rgba(248,249,250,255);
$gris-200: rgba(233,236,239,255);
$gris-300: rgba(222,226,230,255);
$gris-400: rgba(206,212,218,255);
$gris-500: rgba(173,181,189,255);
$gris-600: rgba(108,117,125,255);
$gris-700: rgba(73,80,87,255);
$gris-800: rgba(52,58,64,255);
$gris-900: rgba(33,37,41,255);

$negro: rgba(0,0,0,255);
$blanco: rgba(255,255,255,255);